<a href="https://colab.research.google.com/github/parasheryaman19/Repo1/blob/master/Yaman_Python_Notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Chapter 2 - Basics of Python

### 2.1 Comments in Python 

- These are the statements which you want the python interpreter to ignore. 
- Comments are used to make the code more understandable. 
- Multiline comments serve as the documentation for others.

In [ ]:
# This is a single line comment created using the '# (hash)' symbol.

'''
This is a multiline comment created using the delimeter 
'''

'\nThis is a multiline comment created using the delimeter \n'

### 2.2 Variables Part 1 

- **Identifier** is the smallest identifying unit in the program. 
- Below are the identifiers 
  * Variables 
  * Types 
  * Labels 
  * Subroutines 
  * Functions and Packages 
- When the variables are created then some space in the memory (RAM) is reserved for them. 
- Execution of any program **HARD DISK ------> RAM --------> PROCESSOR** executes the program (ALU). 
- When we create a variable like **price = 100** this means **price -------> OBJECT=100 (memory location or ID)**.
- Here price is the **reference variable** that contains the id or the memory location of the value it refers.
- Variable naming rules 
  1. Can be combination of alphabet, digit and underscore. 
  2. Variable name cannot start with a digit. 
  3. Variable names are case sensitive. 
  4. Keywords cannot be used as the variable names. 
- Objective of any program is the **Data Processing**.

### 2.3 Variables Part 2

- These are dynamically typed which can be understood by the below points. 
- Not only the value of a variable may change during the program execution but the type as well. 
- You can assign an integer value to a variable, use it as an integer for a while and then assign a string to the variable.

In [ ]:
# Declare the variable x  
x = 100 
# Print the type of x 
print(type(x))
# Change the type and value of x ----> Dynamically typed 
x = 'Sidharth'
# Print the new type of x 
print(type(x))

<class 'int'>
<class 'str'>

In [ ]:
# x is having the id of the object-value(3) it is refering to 
x =3 
print(id(x))
# y is also refering to the same object-value(3) which the x is refering to 
y = x 
print(id(y))

140732020400592
140732020400592

### 2.4 Keywords in Python 

- Keywords are predefined words or reserved words 
- They cannot be used as the variable names as their meaning is already reserved. 
- There are **35 Keywords** in python.

In [ ]:
# Import the keyword module 
import keyword 
# Getting the list of all the keywords in python
keywords_python= keyword.kwlist
# Print the list of the keywords 
print(keywords_python)
# Print the number of keywords in the list 
print(len(keywords_python))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

### 2.5 Data Type in Python 

- Data type is the category of the data 
- Why we need the data type 
  - Memory 
  - Operations on it 
  - Internal representation 
- List of built in data types 
  1. **int** 
  2. **float** 
  3. **complex** 
  4. **bool** 
  5. **str** 
  6. **bytes** 
  7. **byte array** 
  8. **range** 
  9. **list** 
  10. **tuple** 
  11. **set** 
  12. **frozen set** 
  13. **dict** 
  14. **None Type**

### 2.6 Type Conversion in Python 
- Python defines type conversion functions to directly convert one data type to another. 
- Below are the functions which change the type of the variable from one type to another. 
  1. **int()**
  2. **float()**
  3. **ord()** # returns the unicode 
  4. **str()**
  5. **complex()**
  6. **dict()**
  7. **tuple()**
  8. **list()**
  9. **set()**

In [ ]:
x = 'a'
y = ord(x)
print(y)

97

### 2.7 Handling Number System in Python 

- Needs to be populated

### 2.8 Operators in Python 

- Special symbols in python that carry out the arithmetic or logical computation. 
- Operator require operands (data) to perform its job. 
- Below is the list of the Operators 
  1. **Arithmetic Operators** 
  2. **Relational Operators** 
  3. **Logical Operators** 
  4. **Bitwise Operators** 
  5. **Assignment Operators** 
  6. **Identity Operators** 
  7. **Membership Operators** 
  
#### NOTE:
* No pre and post increment/decrement operator in python 
* No conditional operator in python ( ? : )

### 2.9 Arithmetic Operators 

#### 1) ******  Exponent 
#### 2) **/**        Divide (Float) 
#### 3) **//**       Divide (Floor) 
#### 4) *****       Multiply 
#### 5) **%**      Modulus
#### 6) **+**      Addition 
#### 7) **-**      Substraction

### 2.10 Relational Operators 

#### 1)  >  Greater than 
#### 2) <     Less than 
#### 3) >=  Greater than equal to 
#### 4) <=  Less than equal to 
#### 5) ==  Equal to 
#### 6) !=   Not equal to 

#### Some points 
- Relational operator always yield True or False as the result 
- When truth value converted to int, it becomes 0 or 1 
- Relational operators can also be used to compare the strings. 
- Only == and != can work between the complex values.

In [ ]:
print(int(True))
print(int(False))
print(bool(4))
print(bool(0))
print('ABDER' > 'BS')
print('ABC' == 'DEF')
print('AB' == 'AB')

1
0
True
False
False
False
True

In [ ]:
# Any other relational operator except == and != between the complex numbers will give error 
3+ 4j > 2+ 3j

TypeError: '>' not supported between instances of 'complex' and 'complex'

In [ ]:
print(3+4j == 2+3j) 
print(3+4j != 2+3j)

False
True

In [ ]:
print(True + 5)
print(False + 5)
print(True + 3.5)

6
5
4.5

#### If we use equal relational operators between any datatype then it will not throw the error

In [ ]:
# We are using another operator to compare the different types therefore will give error 
print('ab' > 4)

TypeError: '>' not supported between instances of 'str' and 'int'

In [ ]:
print('ab' == 4)
print('ab' != 4)

False
True

### 2.11 Logical Operators 
1. **and** ------------>  When both operands are True, result will be True 
2. **or**  ------------>  When both operands are False, result will be False 
3. **not** ------------>  Invert the result

- Logical operators must be written in **lowercase** only. 
- **Non-zero** operand will be treated as **True** and **Zero** will be treated as **False**
- **Empty string** is always treated as **False** and **Non-empty string** is always **True**

### Some Rules 

If x and y are non boolean then result is also non boolean.

* x and y 
      if x is False then 
           result is x 
           otherwise y 

* x or y 
      if x is False then 
          result is y 
          otherwise x 

* not operator always returns the True or False

In [ ]:
print(3 and 3.4)
print(3 and 'ab')
print(3 or 4)
print(0 or 5)

3.4
ab
3
5

In [ ]:
print(not 3+4j)
print(not 0+0j)

False
True

In [ ]:
print(not 'sid')
print(not '')

False
True

In [ ]:
print('ram' and 'shyam')
print(3 and 4>2)
print(3 and 3+4)
# print(3 and x=4) ---------> GIVES THE ERROR 
x=5
print(3 and x==4)
# print(5/0)  -------------> GIVES THE ERROR 
print(3 or 5/0)
# print(3 and 5/0) -------------> GIVES THE ERROR

shyam
True
7
False
3

### 2.12 Bitwise Operators 

#1. & (and)
#2. | (or)
#3. ~ (not)
#4. ^ (xor)
#5. >> (RS)
#6. << (LS)

### 2.13 Assignment Operators 

#### 1. =
#### 2. +=,   -=,   *=,    /=,   %=
#### 3. //=,   **=
#### 4. &=,   |=,   ^=
#### 5. >>=,   <<=

In [ ]:
x=5
x*=3 # x=x*3
print("The value of x is {}".format(x))

The value of x is 15

### Note : Priority of Arithmetic operators are more than assignment operators.

In [ ]:
x=5
x*=3+4 # First the addition will take place and then the assignment operator will work. 
print(x)

35

### 2.14 Identity Operators 

1) **is operator** 
        
       returns true if both variables point to the same object 

2) **is not operator**

       returns false if both variables point to the same object 
      
#### Some Points 

* Every variable in python is an object. 
* Objects are created dynamically. 
* Object do not have names but references.
* One reference variable cannot point to more than one object.

In [ ]:
x=5
y=5
print(x==y) #checks the content and datatype as well.
print(x is y) #checks whether both the variable points to the same object or not.
print(id(x))
print(id(y))

True
True
140731979440656
140731979440656

In [ ]:
x=5
y=5.0
print(x==y) 
print(x is y) 
print(id(x))
print(id(y))

True
False
140731979440656
560237040592

### 2.15 Membership Operators 

1) The in operator 

       returns True if a sequence with the specified value is present in the object. 
       
2) The not in operator 

       returns False if a sequence with the specified value is present in the object.

In [ ]:
x='abc' # x should be iterable and can list, tuple and strings 
print('a' in x)
print('d' in x)

True
False

In [ ]:
x=256 
print(5 in x)
# it is not iterable so the below code will give error

TypeError: argument of type 'int' is not iterable

In [ ]:
x='256' # This x becomes string
print('5' in x)

True

### 2.16 Taking input from user 

input () method 

1. This method takes a single optional argument 
2. It reads the line from input, converts the line to string by removing the trailing new line, and return it. 
3. We can input the values of various datatypes

In [ ]:
x=input('Enter your name ')
print(x)

Enter your name Sidharth Mehra
Sidharth Mehra

In [ ]:
x=input('Enter a number') 
print(x)
print(type(x)) # It converts the input to string

Enter a number234
234
<class 'str'>

In [ ]:
x=input('Enter a number')
print(x)
y=int(x)
print(type(x), type(y))

Enter a number234
234
<class 'str'> <class 'int'>

In [ ]:
# Program to add 2 numbers 
x=int(input('Enter 1st number'))
y=int(input('Enter 2nd number'))
z=x+y
print("The sum of {} and {} is {}".format(x, y, z))

Enter 1st number12
Enter 2nd number23
The sum of 12 and 23 is 35

### 2.17 Use of import, as and from keywords 

* Module is a python file consisting of python code. 
* Module can define functions, classes and variables.
* Python library has various built in modules.

In [ ]:
# We have math module 
help('math') # shows the details of math module

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(x, y, /)
        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    pow(x, y, /)
        Return x**y (x to the power of y).

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [ ]:
import math as m 
m.factorial(5)

120

In [ ]:
import math 
factorial(5)

NameError: name 'factorial' is not defined

In [ ]:
from math import factorial 
factorial(5)

120

### NOTE:

* Once we have used from keyword in our code, then we cannot call the function of that module using dot operator ( will give      
  error ) , but have to use the function of that module directly.

In [ ]:
from math import factorial,sqrt 
print(factorial(10))
print(sqrt(64))

3628800
8.0

In [ ]:
from math import * # import all the functions of math module.

### 2.18 More on output statements 

We will discuss the following points 

- Print variable value 
- Print multiple values 
- Print multiple values with sep 
- Print is like println of JAVA 
- end 
- sep and end together 
- Formatted string 
- Replacement operator

In [ ]:
x = 10 
print(x)

10

In [ ]:
x= 10 
y= 20 
print(x, y) # By default seperator is SPACE

10 20

In [ ]:
# Introducing the seperator argument 
print(x, y, sep= ",")
print(x, y, sep= ":")

10,20
10:20

In [ ]:
print("AB" + "CD")
print("AB", "CD")

ABCD
AB CD

In [ ]:
# Can also pass new line in the sep argument of the print function 
print(x, y, sep="\n")

10
20

In [ ]:
# Each line will end with the new line character 
print("Hello")
print("Students")
print("Learn Python")

Hello
Students
Learn Python

In [ ]:
# Introducing the end argument of the print function 
print("Hello", end= " ")
print("Students")
print("Learn Python")

Hello Students
Learn Python

In [ ]:
# We can also put the dot in the end argument 
print("Hello", end=".")
print("Students", end= "...")
print("Learn Python")

Hello.Students...Learn Python

In [ ]:
x= 10 
y= 20
z= 30
print(x, y, z, end=' END', sep=':')

10:20:30 END

In [ ]:
x =10 
y= 3.5 
z = "Sid"
print("Hello {2} x={0} y={1}".format(x, y, z))

Hello Sid x=10 y=3.5

#### Note: If we keep the curly braces blank then the order of the format is printed.

### 2.19 Decision Control Statements 

1. **Decision/ Selection Control Statements** - (if, if-else, if-elif-else)

2. **Iterative Loop Statements** - (while, for) 

#### NOTE: 
  * **switch** is not available in python.   
  * **do-while** is also not available in python.

In [ ]:
num = int(input("Enter any number"))
if x>0:
    print("Number is positive")
elif num == 0:
    print("Number is zero")
else:
    print("Number is negetive")

Enter any number23
Number is negetive

### 2.20 Ternery Operator in Python 

Several names of the ternery operator are 
  1. Single line if expression 
  2. Conditional Operator

In [ ]:
# If True the print 'Hello' else print 'Bye'
print("Hello" if True else "Bye")

Hello

In [ ]:
x = int(input("Enter 1st number"))
y= int(input("Enter 2nd number"))
z = x if x>y else y
print("Greater value is {}".format(z))

Enter 1st number56
Enter 2nd number76
Greater value is 76

### 2.21 While loop 

This loop iterates the statements till some condition is True. 

   1. Initialization 
   2. Condition 
   3. Increment

In [ ]:
x =1 
while x <=5:
    print("Now x is:",x)
    x+=1
print("Now x is {} and condition is False so comming out of the WHILE loop".format(x))

Now x is: 1
Now x is: 2
Now x is: 3
Now x is: 4
Now x is: 5
Now x is 6 and condition is False so comming out of the WHILE loop

### 2.22 For Loop

    - Iterates statements for the number of elements in the sequence 
    - Number of iterations is known in advance. 
    
**Syntax** of for loop

      for element in iterable sequence:
               perform action

In [ ]:
len = 0 
name = input("Enter your name\n")
for char in name:
    print(char)
    len+=1
print("The length of your name is:",len)

Enter your name
Sidharth
S
i
d
h
a
r
t
h
The length of your name is: 8

#### Notes: 

- For loop in PYTHON is similar to for-each in JAVA.
- With for loop we can execute a set of statements, once for each item in a sequence. 
- The for loop does not require an indexing variable to set beforehand, as the for command itself allows for this.

### 2.23 range() function 

- This function generates a sequence from 0 to n-1 
- range(n) ----------> 0, 1, 2, 3, 4 ......... n-1 
- The range() function returns a sequence of numbers, starting from 0 (default) and increment by 1 (default) and ends at a specified number. 
- 'for' loop can iterate over a sequence of numbers using the 'range' function. 

**Syntax** of range() function 
   
        range(start, stop, step)
              default start = 0 
              stop is compulsory argument 
              default step = 1

In [ ]:
y= range(5)
# y is the iterable object 
print(type(y))
for i in y:
    print(i+1)

<class 'range'>
1
2
3
4
5

In [ ]:
# Prints the value from 0 to 4 
for element in range(5):
    print(element)

0
1
2
3
4

In [ ]:
# Loop will go from 1 uptill 19(stop-1) with an increment of 2 in each iteration. 
list = []
for x in range(1,20,2):
    list.append(x)
print(list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
# Start value can be bigger than stop value 
list = [] 
for x in range(20,0,-2):
    list.append(x)
print(list)

[20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

### 2.24 Transfer statements in Python 

1. break 
2. continue 
3. pass

       - With the break keyword we can stop the loop even if the while condition is True. It is used to come out of the 
         loop body. 
       - With the continue keyword we can stop the current iteration and continue with the next iteration. When the 
         control comes to continue it comes to the while condition. 
       - With the pass keyword we mention the null statement or an empty block.

#### Break keyword

In [ ]:
chance = 1 
while chance <=3:
    x = int(input("Enter an even number"))
    if x % 2 == 0:
        break 
    chance+=1
if chance == 4:
    print("You lost")
else:
    print("You win")

Enter an even number4
You win

#### Continue keyword

In [ ]:
x = 1 
list =[]
while x<=24:
    if x % 5 == 0:
        x=x+1
        continue 
    list.append(x)
    x = x+1 
print(list)

[1, 2, 3, 4, 6, 7, 8, 9, 11, 12, 13, 14, 16, 17, 18, 19, 21, 22, 23, 24]

#### Pass keyword

In [ ]:
x = 0 
if x == 0:
    pass
print("Hello")

Hello

### 2.25 Use of else with the loop 

1. while-else 
2. for-else

In [ ]:
# else will execute only when the while condition becomes false and eventually we get out of the loop. 
# When there is break then we directly come out of the loop without going into the else block of while loop. 
i= 1 
while i <3:
    x = int(input("Enter an even number"))
    if x % 2 == 0:
        print("You win")
        break
    i+=1 
else: 
    print("You lost")
print("Out of the loop")

Enter an even number1
Enter an even number2
You win
Out of the loop

#### Program to print the first prime number in the range entered by the user

In [ ]:
# else will only execute when the sequence of the for loop has exhausted 
a = int(input("Enter smaller number"))
b = int(input("Enter greater number"))
s = range(a,b)
for x in s: 
    for num in range(2, x):
        if x% num == 0:
            break 
    else: 
        print("{} is the first prime number in range [{}, {})".format(x, a, b))
        break

Enter smaller number10
Enter greater number20
11 is the first prime number in range [10, 20)

## Chapter 3- Sequences

### 3.1 List in python part 1

- Similar to arrays 
- They can contain any type of variable and can contain as many variables as wish. 
- Lists can also be iterated over in a very simple manner.

In [ ]:
# Empty list 
list=[]
list.append(10)
list.append(20)
list.append(30)
print(list)

[10, 20, 30]

In [ ]:
# Indexing on the list to get the individual elements. 
print(list[0]) 
print(list[1]) 
print(list[2])

10
20
30

In [ ]:
# List can be also iterated over to get the individual elements. 
for element in list:
    print(element)

10
20
30

### 3.2 List in python part 2

In [ ]:
# List can contain the strings 
cities=['Delhi', 'Jaipur', 'Bhopal']
print(cities)
print(type(list))

['Delhi', 'Jaipur', 'Bhopal']
<class 'list'>

In [ ]:
# List can contain the heterogenous data 
hetro_list= ['sid', 0.43, 4]
print(hetro_list)
print(type(list))

['sid', 0.43, 4]
<class 'list'>

In [ ]:
# Exception when try to access the element out of range of the list 
list= [10, 20, 30]
print(list[3])

IndexError: list index out of range

In [ ]:
# We cannot access the values of list by index before its creation but we can use the append method
l=[]
l[0]=1

IndexError: list assignment index out of range

In [ ]:
# We can replace the old values in a list 
list=[10, 20, 30]
print(list)
list=[1, 2, 3]
print(list)

[10, 20, 30]
[1, 2, 3]

In [ ]:
l=[]
# appends always adds a value to the list at the end
l.append(10)
l.append(20)
print(l)

[10, 20]

In [ ]:
l.insert(2, 30)
print(l)

[10, 20, 30]

In [ ]:
# No error in case we give the higher index 
# Here we do not give any value to the index 3 but insert method only adds the value to the index 3 only. 
l.insert(4, 40)
print(l)

[10, 20, 30, 40]

In [ ]:
# We can store the value in the middle of the list through the insert function. 
l.insert(1, 50)
print(l)

[10, 50, 20, 30, 40]

In [ ]:
l.insert(-1, 60)
print(l)

[10, 50, 20, 30, 60, 40]

In [ ]:
l.insert(-3, 100)
print(l)

[10, 50, 20, 100, 30, 60, 40]

In [ ]:
l1=[1, 2, 3]
l2=[4, 5, 6]
# The operator will put the elements of both the lists into the new list 
l3=l1+l2
print(l3)

[1, 2, 3, 4, 5, 6]

In [ ]:
# We cannot add the element in the list through the + operator 
l1+4

TypeError: can only concatenate list (not "int") to list

In [ ]:
# But we can add the element like this 
l1+[10]
print(l1)

[1, 2, 3]

In [ ]:
# If we want to assign the value 10 to l1 
l1+=[10]
print(l1)

[1, 2, 3, 10]

In [ ]:
# Repeating operator 
D=[10, 20]
print(D*3)
print(D)
D*=3
print(D)

[10, 20, 10, 20, 10, 20]
[10, 20]
[10, 20, 10, 20, 10, 20]

### 3.3 List in python part 3

In [ ]:
# Modify the element in the list
list=[10, 20, 30]
list[0]=100
print(list)

[100, 20, 30]

In [ ]:
# Remove element from the list 
list=[10, 20, 30]
list.remove(20)
print(list)

[10, 30]

In [ ]:
# Gives the error because 200 is not present in the list 
list.remove(200)

ValueError: list.remove(x): x not in list

In [ ]:
list=[10, 20, 30]
list*=3
print(list)
# Below statement only removes the first occurance of the given element in the repeating list not all the repeating elements.
list.remove(20)
print(list)

[10, 20, 30, 10, 20, 30, 10, 20, 30]
[10, 30, 10, 20, 30, 10, 20, 30]

In [ ]:
# List in python is an object and has many useful functions

In [ ]:
list=[10, 9, 30, 1, 40]
# This sort() method sorts the elements of the list in the ascending order.  
list.sort()
print(list)

[1, 9, 10, 30, 40]

In [ ]:
# If we want to remove all the values from the list 
print(list)
list.clear()
print(list)

[1, 9, 10, 30, 40]
[]

In [ ]:
# If we want to reverse the elements of a list 
list=[1, 2, 3, 4, 5]
print(list)
list.reverse()
print(list)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [ ]:
# In remove() we pass the value to be removed from the list  
# In pop() we pass the index of the value that needs to be removed from the list 

l=[1, 2, 3, 4]
# Removes and deletes the last element from the list 
r= l.pop()
print(r)
print(l)

4
[1, 2, 3]

In [ ]:
# Returns and deletes the element at index 0 from the list 
print(l)
l.pop(0)
print(l)

[1, 2, 3]
[2, 3]

In [ ]:
list=[10, 20, 30, 40, 50, 60]
# We want to find the index of a particular element of the list 
i= list.index(20)
print(i)

1

In [ ]:
# 70 is not present in the list -------> Let's see whats happen 
i= list.index(70)
print(i)

ValueError: 70 is not in list

In [ ]:
list=[10, 20, 10, 30, 40, 20, 30, 10]
x= list.index(10)
print(x)
# Search the 10 element in the list from the index 1 
y= list.index(10, 1)
print(y)

0
2

In [ ]:
# Search the element 10 in the list from the index 3 to 6
# As 10 is not there in the specified range so it gives the error 
list.index(10, 3, 6)

ValueError: 10 is not in list

In [ ]:
print(list)
i= list.index(10, 2, 6)
print("10 is present at index {} between the index 2 and index 6 in the list".format(i))

[10, 20, 10, 30, 40, 20, 30, 10]
10 is present at index 2 between the index 2 and index 6 in the list

In [ ]:
print(list)
# How many times 10 is occuring in the list
print(list.count(10))
# How many time 20 is occuring in the list
print(list.count(20))

[10, 20, 10, 30, 40, 20, 30, 10]
3
2

In [ ]:
list=[10, 20, 30]
# If we want to have a look at all the methods of this list then type in the below command 
help(list)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

### 3.4 Command Line Arguments

### 3.5 Strings in python part-1 
- Strings are the sequence of characters or the bits of text. 
- They can be defined anything between quotes.

In [ ]:
# 4 ways of writing the same string 
print("Single quotes ----->",'Sidharth')
print("Double quotes ----->","Sidharth")
print("Triple single quotes ----->",'''Sidharth''')
print("Triple double quotes ----->", """Sidharth""")

Single quotes -----> Sidharth
Double quotes -----> Sidharth
Triple single quotes -----> Sidharth
Triple double quotes -----> Sidharth

In [ ]:
# Have to include these type of strings in the double quotes only 
str="Don't avoid practice"
print(str)

Don't avoid practice

In [ ]:
# Double quotes is considered as the data 
str='"MySirG.com"'
print(str)

"MySirG.com"

In [ ]:
str= ''' Teacher's day is "My Day" ''' 
print(str)

 Teacher's day is "My Day"

In [ ]:
# Triple quote has one more feature - it can hold the multi-line string 
s1='''Sidharth 
is 
Hardworking
'''
print(s1)

Sidharth
is
Hardworking

In [ ]:
# Length of a string 
# Space is also calculated as one character 
# len() returns number of characters including the spaces
s1= "Mysirg education services"
print('The length of the given string is {}'.format(len(s1)))

The length of the given string is 25

In [ ]:
# Index of a character in the string 
# Indexing in the strings also starts from 0
# Returns the First occurance of the character in the string
i= s1.index('s')
print(i)

2

In [ ]:
i=s1.index('education')
print(i)

7

In [ ]:
# Occurance of any character in the string 
occ= s1.count('e')
print(occ)
# character 'e' occurs 3 times in the string s1

3

### 3.6 Strings part-2

In [ ]:
s1= "Mysirg education services"
print(s1[5])
# Negetive index is allowed in Python but not in C/C++/Java 
print(s1[-2])

g
e

**Slicing operator** 

     [beg:end:step]

where 
      - beg is include 
      - end is exclude 
      - step is by default +1

In [ ]:
print(s1[7:16])

education

In [ ]:
print(s1[2:-2])

sirg education servic

In [ ]:
print(s1[-5:23])

vic

#### Note:
1. If the step is positive then we can only move from left to right. 
2. If the step is negetive then we can only move from right to left.

In [ ]:
# Will give empty as by default step is positive(+1) and we can go from left to right only but here we intend to go from right to left. 
print(s1[-5:8])

In [ ]:
# But if we want to go from right to left then we can mention the negetive step size. 
print(s1[-5:8:-1])

vres noitacu

#### Methods to reverse a string in python

In [ ]:
print(s1)

Mysirg education services

In [ ]:
# End value cannot be 0 as it is always excluded so we will not mention any end value as it is optional. 
# Want to move from right to left to reverse the string so have to mention negetive step size(-1)
print(s1[24::-1])

secivres noitacude grisyM

In [ ]:
# Another method to reverse the string 
print(s1[len(s1)::-1])

secivres noitacude grisyM

In [ ]:
# Another method to revese the given string 
print(s1[::-1])

secivres noitacude grisyM

#### Convert a given string to UPPER CASE and lower case

In [ ]:
# Convert the string to the UPPER CASE 
strng= 'sidharth'
x= strng.upper()
print(x)

SIDHARTH

In [ ]:
# Conver the string to lower case 
strng= 'SIDHARTH'
x= strng.lower()
print(x)

sidharth

#### Some other methods of string object

In [ ]:
print(s1)
print(s1.startswith("My"))

Mysirg education services
True

In [ ]:
print(s1.endswith('ces'))

True

In [ ]:
print(s1.startswith("hello"))

False

#### split() method

In [ ]:
# Splits the string on the basis of the argument passed in the method and returns a list of strings  
print(s1)
# Split on the basis of space
list_of_strings= s1.split(' ')
print(list_of_strings)
print(type(list_of_strings))

Mysirg education services
['Mysirg', 'education', 'services']
<class 'list'>

#### All the methods of str object

In [ ]:
help(str)

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Use keyword.iskeyword() to test for reserved identifiers such as "def" and
 |      "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |        sep
 |          The delimiter according which to split the string.
 |          None (the default value) means split according to any whitespace,
 |          and discard empty strings from the result.
 |        maxsplit
 |          Maximum number of splits to do.
 |          -1 (the default value) means no limit.
 |
 |      Splits are done starting at the end of the string and working to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |      sep
 |        The delimiter according which to split the string.
 |        None (the default value) means split according to any whitespace,
 |        and discard empty strings from the result.
 |      maxsplit
 |        Maximum number of splits to do.
 |        -1 (the default value) means no limit.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace remove.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(x, y=None, z=None, /)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

### 3.7 Tuple part 1 

- A tuple is an iterable defined using parenthesis ().  
- The indexing in tuple is same as list (starts from 0).
- A list is **mutable** (changes are possible such as add or remove elements). 
- A tuple is **immutable** (changes are not possible). 
- We can use the tuple in the form of **key,value** whereas we cannot use the list in the form of key,value

In [ ]:
# Empty tuple 
t= ()
print(type(t))

<class 'tuple'>

In [ ]:
# This is an int type not a tuple with single element 
t= (10)
print(t)
print(type(t))

10
<class 'int'>

In [ ]:
# How to store a single element in a tuple 
t= (10,)
print(t)
print(type(t))

(10,)
<class 'tuple'>

In [ ]:
# Alternate way to create tuple ----> No need to include parenthesis 
t= 10, 20, 30
print(type(t))

<class 'tuple'>

In [ ]:
# Creating a tuple from a list 
l= [10, 20, 30]
t= tuple(l)
print(t)
print(type(t))

(10, 20, 30)
<class 'tuple'>

In [ ]:
# tuple() takes in always a sequence so below will give an error 
t= tuple(10, 20, 30)

TypeError: tuple expected at most 1 arguments, got 3

In [ ]:
# So now what is the valid syntax 
t= tuple((10, 20, 30))
print(t)
print(type(t))

(10, 20, 30)
<class 'tuple'>

In [ ]:
# A tuple can store hetrogenous data same as list 
t= (10, 3.4, 'sid')
print(t)
print(type(t))

# Indexing on tuple same as list 
print(t[0])
print(t[1])

(10, 3.4, 'sid')
<class 'tuple'>
10
3.4

In [ ]:
print(t[3])

IndexError: tuple index out of range

#### Accessing tuple elements 

1. While and For loop 
2. Slicing Operator

In [ ]:
t= (10, 20, 30, 40)
i= 0 
while i<len(t):
    print(t[i])
    i+=1

10
20
30
40

In [ ]:
for ele in t:
    print(ele)

10
20
30
40

In [ ]:
# Print the squares of each element in tuple t 
for ele in t:
    print(ele*ele)

100
400
900
1600

In [ ]:
# Slicing operator 
# All the 3 values are optional 
# Start is inclusive, end is exclusive, step is by default +1 
print(t[0::])

(10, 20, 30, 40)

In [ ]:
t= t+ (1, 2, 3, 4)
print(t)

(10, 20, 30, 40, 1, 2, 3, 4)

In [ ]:
print(t[::])

(10, 20, 30, 40, 1, 2, 3, 4)

In [ ]:
print(t[0::2])

(10, 30, 1, 3)

### 3.8 Tuple part-2

In [ ]:
# Packing of variables into tuple 
a= 1
b= 2
c= 3
t= (a, b, c)
print(t)
print(type(t))

(1, 2, 3)
<class 'tuple'>

In [ ]:
# Unpacking of a tuple into respective variables 
tup= (10, 20, 30)
x, y, z= tup
print(x)
print(y)
print(z)

10
20
30

In [ ]:
# Concatenation operator 
t1= (1, 2, 3)
t2= (10, 20)
new_t3= t1+t2
print(new_t3)
print(type(new_t3))

(1, 2, 3, 10, 20)
<class 'tuple'>

In [ ]:
# Repeatation operator 
t= (1, 2, 3)
# Repeates the values in tuple 2 times 
rep_t= t*2
print(rep_t)
print(type(rep_t))

(1, 2, 3, 1, 2, 3)
<class 'tuple'>

In [ ]:
# If we want changes in t 
print(t)
t*=2
print(t)

(1, 2, 3)
(1, 2, 3, 1, 2, 3)

In [ ]:
# Comparision operator in tuple 
a= (1, 2, 3)
b= (1, 2, 3)
# Corrosponding elements of 2 tuples are checked whether they are same or not 
print(a==b)

True

In [ ]:
c= (1, 2, 4)
print(a==c)

False

In [ ]:
print(a)
print(c)
print(a<c)

(1, 2, 3)
(1, 2, 4)
True

### 3.9 Tuple part-3

In [ ]:
# Input a tuple from user 
t= tuple(input("Enter a tuple "))
print(t)
print(type(t))
# 5 characters are stored in the tuple 
print(len(t))

Enter a tuple 1,2,3
('1', ',', '2', ',', '3')
<class 'tuple'>
5

In [ ]:
# So how to use the tuple() to take the input from user 

# Input a tuple from user 
t= tuple(input("Enter a tuple "))
print(t)
print(type(t))
# 5 characters are stored in the tuple 
print(len(t))

Enter a tuple 123
('1', '2', '3')
<class 'tuple'>
3

In [ ]:
# But here the individual elements of the tuple is string 
for ele in t:
    print(type(ele))

<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:
# Therefore we will use the eval() function 
# It evaluates a valid python expression 
add= eval("5+2")
print(type(add))
t= eval("(1, 2, 3)")
print(type(t))
l= eval("[10, 20, 30]")
print(type(l))

<class 'int'>
<class 'tuple'>
<class 'list'>

In [ ]:
# Input a tuple from a user using the eval() function 
t= eval(input("Enter a tuple "))
print(t)
print(type(t))
print("Data type of each element in a tuple is")
for ele in t:
    print(type(ele))

Enter a tuple 1,2,3
(1, 2, 3)
<class 'tuple'>
Data type of each element in a tuple is
<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
# Input a list from the user using eval() function 
l= eval(input("Enter a list enclosed within square brackets "))
print(l)
print(type(l))

Enter a list enclosed within square brackets [10, 20, 30]
[10, 20, 30]
<class 'list'>

#### Program to calculate the sum of elements of a tuple input by a user

In [ ]:
tup= eval(input("Enter a tuple seperated by a comma "))
print(tup)
sum=0
for ele in tup:
    sum+=ele
print("Sum of elements is",sum)

Enter a tuple seperated by a comma 1,2,2,3
(1, 2, 2, 3)
Sum of elements is 8

#### Some function on tuple

In [ ]:
t= (1, 2, 3, 4)
# len(x) -----> x can be list, string, tuple 
print(len(t))

4

In [ ]:
new_t= (10, 10, 1, 2, 3)
print(new_t)
# Counts the frequency of the given element in the tuple 
print(new_t.count(10))

(10, 10, 1, 2, 3)
2

In [ ]:
# Gives the index of mentioned element in the tuple 
# Index of the element 1 in tuple new_t is 2 
print(new_t)
print(new_t.index(1))

(10, 10, 1, 2, 3)
2

In [ ]:
# If we pass the value that does not exists in the tuple to the index function then it gives the error 
print(new_t)
# Element 40 does not exists in the tuple new_t 
print(new_t.index(40))

(10, 10, 1, 2, 3)

ValueError: tuple.index(x): x not in tuple

In [ ]:
# Then how to write the code 
if 40 in new_t:
    print(new_t.index(40))
else:
    print("Element 40 is not in the tuple")

Element 40 is not in the tuple

In [ ]:
# Find the maximum and minimum value in a tuple 
t= (1, 30, 40, 2)
print(t)
print(type(t))
print(max(t))
print(min(t))

(1, 30, 40, 2)
<class 'tuple'>
40
1

In [ ]:
help(t)

Help on tuple object:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

### 3.10 Set Part 1 

- No duplicate values, but if we include the duplicate values then it will be ignored. 
- No indexing in the set ie we have no subscript operator 
- No slicing operator as well 
- Set is mutable

In [ ]:
# Duplicate values in the set are ignored 
s= {10, 20, 30, 20}
print(s)

{10, 20, 30}

In [ ]:
# Set do not support indexing 
print(s[0])

TypeError: 'set' object is not subscriptable

In [ ]:
# Set do not support slicing operator 
print(s[1:3])

TypeError: 'set' object is not subscriptable

In [ ]:
# Create the empty set / empty curly braces is of dict type 
s1= set()
print(type(s1))

<class 'set'>

In [ ]:
# Below code gives error 
s= set(10, 20, 30)
print(s)

TypeError: set expected at most 1 arguments, got 3

In [ ]:
# set() function can only take sequence as the argument but ignore the repeated values in the iterable 
list= [1, 2, 3, 1, 3, 2]
set_from_list= set(list)
print(set_from_list, type(set_from_list))

{1, 2, 3} <class 'set'>

In [ ]:
# String is a valid sequence so we can pass it in set() function 
# The characters or element of the set function argument is not stored in the same order 
string= 'sidharth'
set_from_string= set(string)
print(set_from_string, type(set_from_string))

{'r', 'h', 'i', 'd', 'a', 's', 't'} <class 'set'>

### 3.11 Set Part 2

In [ ]:
# Set function can take tuple 
tup= (10, 20, 30)
set_from_tuple= set(tup)
print(set_from_tuple, type(set_from_tuple))

{10, 20, 30} <class 'set'>

In [ ]:
# Only distinct values are stored in the set 
string= 'ababbaaab'
unique_set= set(string)
print(unique_set)

{'a', 'b'}

In [ ]:
# add() function is used to add the element in the set 
s1= {1, 2, 3}
s1.add(4)
print(s1)
s1.add(3.5)
print(s1)

{1, 2, 3, 4}
{1, 2, 3.5, 3, 4}

In [ ]:
# A set can store hetrogenous data-types but we cannot guarantee the order in which the elements are stored 
hetro_set= {1, 3, "Hello", 3.5}
print(hetro_set, type(hetro_set))

{'Hello', 1, 3, 3.5} <class 'set'>

In [ ]:
# If we want to add the element already present in the set then it will not throw the error 
s= {1, 2, 3}
s.add(1)
print(s)

{1, 2, 3}

In [ ]:
# update() function takes the sequence as the argument and performs the union of sequence and the set 
s= {1, 2, 3}
l= {1, 3, 5, 7}
s.update(l)
print(s, type(s))

{1, 2, 3, 5, 7} <class 'set'>

In [ ]:
# update() method can take more than 1 sequence as the argument 
s1= {1, 2, 3}
# Takes the union of set s1 and both the sequences list and tuple 
s1.update([1, 3, 5, 7], (3, 8, 10))
print(s1)

{1, 2, 3, 5, 7, 8, 10}

In [ ]:
# discard() function removes the particular element from the set 
s1= {1, 3, 4, 5, 7}
s1.discard(3)
print(s1)

# What if we pass some element to the discard() function that is not there in the set 
# It will not give error even if 10 is not present in the set 
s1.discard(10)
print(s1)

{1, 4, 5, 7}
{1, 4, 5, 7}

In [ ]:
# remove() method also does the same as discard method but it gives error when we pass the element which is not there in the set 
s2= {1, 3, 4, 8}
# 10 is not there in the set so will give error so advisable to use the discard method to remove the elements from the list. 
s2.remove(10)
print(s2)

KeyError: 10

In [ ]:
# Below code gives the error 
s1= {1, 2, [3, 4], (5, 6)}
print(s1)

TypeError: unhashable type: 'list'

In [ ]:
# We can store an element in the set as the tuple 
s1= {1, 2, (3, 4), (5, 6)}
for element in s1:
    print(element)

(5, 6)
1
2
(3, 4)

In [ ]:
# Intersection of 2 sets 
s1= {1, 2, 3, 5, 8}
s2= {2, 3, 4, 6}
s1_intersection_s2 = s1.intersection(s2)
print(s1_intersection_s2)

{2, 3}

In [ ]:
# clear() removes all the elements of a set 
s1= {1, 2, 3, 4, 5}
s1.clear()
print(s1)

set()

In [ ]:
# Union of 2 sets 
s1= {1, 2, 3, 4}
s2= {3, 4, 5, 6}
s1_union_s2= s1.union(s2)
print(s1_union_s2)

{1, 2, 3, 4, 5, 6}

In [ ]:
print(type(s1))

<class 'set'>

In [ ]:
# If s2 is subset of s1 then all the elements of s2 are in s1 
s1= {1, 2, 3, 4}
s2= {2, 3}
s2.issubset(s1)

True

In [ ]:
# If s1 is superset of s2 then s1 must contain all the elements of s2 
s1= {1, 2, 3, 4}
s2= {2, 3}
s1.issuperset(s2)

True

In [ ]:
# pop() method 
# 1. Returns the removed element 
# 2. Update the set (removal of the removed element from the set)
s1= {5, 1, 3, 2}
removed_element= s1.pop()
print(removed_element)
print(s1)

1
{2, 3, 5}

In [ ]:
# You cannot perform the pop operation on the empty set 
s1= set()
s1.pop()

KeyError: 'pop from an empty set'

In [ ]:
# Copy the elements of one set to another set 
s1={1,2,3}
print("ID of the set s1---> {} is {}".format(s1, id(s1)))
s2= s1.copy()
print("ID of the set s2---> {} is {}".format(s2, id(s2)))

ID of the set s1---> {1, 2, 3} is 538164778376
ID of the set s2---> {1, 2, 3} is 538156373160

### 3.12 Dictionary Part 1 

- Each element of a dictionary is a pair of key:value 
- Each key must be unique 
- Value can be repeated 
- Key and Value can be of any type in a dictionary 
- Indexing and Slicing operator do not work in dictionary. 
- Cannot guarantee of order of storage of key values in the dictionary. 
- It is mutable ie value can be added, deleted and edited 
- It can be grow/shrink ie memory efficient

In [ ]:
# Create an empty dictionary 
empty_dict= {}
print(type(empty_dict))
alternate_dict= dict()
print(type(alternate_dict))

<class 'dict'>
<class 'dict'>

In [ ]:
# Creating a sample dictionary 
d= {100:'Rahul', 101:'Ajay', 102:'Ram'}
print(d, type(d))

{100: 'Rahul', 101: 'Ajay', 102: 'Ram'} <class 'dict'>

In [ ]:
# Creating a dictionary with dict() constructor but cannot use the key:value syntax 
# Here keys cannot be numbers or expression 
d= dict(city_1="Bhopal", city_2="Indore")
print(d)

{'city_1': 'Bhopal', 'city_2': 'Indore'}

In [ ]:
# Accessing a value in a dictionary 
d= {1:'a', 2:'b', 3:'c', 4:'d'}
# Print the value corrosponding to the key 4
value= d[4]
print(value)

d

In [ ]:
# Adding a new key:value pair in the current dictionary 
d[5]= 'e'
print(d)

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}

In [ ]:
# Change the value corrosponding to a key in the dictionary 
d[1]='A'
print(d)

{1: 'A', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}

In [ ]:
for key in d:
    print("Key=", key, "Value=", d[key])

Key= 1 Value= A
Key= 2 Value= b
Key= 3 Value= c
Key= 4 Value= d
Key= 5 Value= e

In [ ]:
# Access each element/pair in a dictionary 
for key, value in d.items():
    print("key is {} and value is {}".format(key, value))

key is 1 and value is A
key is 2 and value is b
key is 3 and value is c
key is 4 and value is d
key is 5 and value is e

### 3.13 Dictionary Part 2

In [ ]:
words= {}
l= ['a', 'b', 'c', 'd']
for ele in l:
    print("Enter a word starting with {}".format(ele))
    words[ele]=input()
print(words)

Enter a word starting with a
apple
Enter a word starting with b
ball
Enter a word starting with c
cat
Enter a word starting with d
dog
{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog'}

In [ ]:
# Delete a pair/element from a dictionary 
d= {'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog'}
del(d['c'])
print(d)

{'a': 'apple', 'b': 'ball', 'd': 'dog'}

In [ ]:
d= {1:'a', 2:'b', 3:'c', 4:'d'}
# clear() method deletes all the pairs from the dictionary 
d.clear()
print(d)

{}

In [ ]:
# Creates a shallow copy of d1 into d2
# Both d1 and d2 are pointing to different objects 
d1= {1:'a', 2:'b', 3:'c', 4:'d'}
print("ID of the dict d1---> {} is {}".format(d1, id(d1)))
d2= d1.copy()
print("ID of the dict d2---> {} is {}".format(d2, id(d2)))
# We can verify from the is operator also 
print(d1 is d2)

ID of the dict d1---> {1: 'a', 2: 'b', 3: 'c', 4: 'd'} is 58834939800
ID of the dict d2---> {1: 'a', 2: 'b', 3: 'c', 4: 'd'} is 58834939640
False

In [ ]:
# Create a dictionary from the list or any iterable 
l= [1, 2, 3]
d= {}
d1= d.fromkeys(l, "ABC")
print(d)
print(d1)

{}
{1: 'ABC', 2: 'ABC', 3: 'ABC'}

In [ ]:
d= {1:'A', 2:'B', 3:'C'}
# Get the value corrosponding to the key 2
value= d.get(2)
print(value)
# Get the value corrosponding to the key that does not exists in the dictionary ----> it does not gives the ERROR 
print(d.get(4))
print(d)

# What if we used square brackets to access the value of the key that is not present in the dictionary 
# Below code will give error as 4 key is not in d 
print(d[4])

B
None
{1: 'A', 2: 'B', 3: 'C'}

KeyError: 4

In [ ]:
d= {1:'A', 2:'B', 3:'C'}
# pop() method returns the value of the key and deletes that pair from the dictionary 
value= d.pop(2)
print(value)
print(d)

B
{1: 'A', 3: 'C'}

In [ ]:
d= {1:'A', 2:'B', 3:'C'}

# (1:'A')---> dict_item 
# 1 -----> dict_key 
# 'A'-----> dict_value 

# popitem() returns any random dict_item (pair) and deletes that from the dictionary 
# This method do not takes any argument and left empty 

dict_item= d.popitem()
print(dict_item, type(dict_item))
print(d)

(3, 'C') <class 'tuple'>
{1: 'A', 2: 'B'}

In [ ]:
help(dict)

Help on class dict in module builtins:

class dict(object)
 |  dict() -> new empty dictionary
 |  dict(mapping) -> new dictionary initialized from a mapping object's
 |      (key, value) pairs
 |  dict(iterable) -> new dictionary initialized as if via:
 |      d = {}
 |      for k, v in iterable:
 |          d[k] = v
 |  dict(**kwargs) -> new dictionary initialized with the name=value pairs
 |      in the keyword argument list.  For example:  dict(one=1, two=2)
 |
 |  Methods defined here:
 |
 |  __contains__(self, key, /)
 |      True if the dictionary has the specified key, else False.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      D.__sizeof__() -> size of D in memory, in bytes
 |
 |  clear(...)
 |      D.clear() -> None.  Remove all items from D.
 |
 |  copy(...)
 |      D.copy() -> a shallow copy of D
 |
 |  get(self, key, default=None, /)
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  items(...)
 |      D.items() -> a set-like object providing a view on D's items
 |
 |  keys(...)
 |      D.keys() -> a set-like object providing a view on D's keys
 |
 |  pop(...)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |      If key is not found, d is returned if given, otherwise KeyError is raised
 |
 |  popitem(...)
 |      D.popitem() -> (k, v), remove and return some (key, value) pair as a
 |      2-tuple; but raise KeyError if D is empty.
 |
 |  setdefault(self, key, default=None, /)
 |      Insert key with a value of default if key is not in the dictionary.
 |
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  update(...)
 |      D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
 |      If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
 |      If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
 |      In either case, this is followed by: for k in F:  D[k] = F[k]
 |
 |  values(...)
 |      D.values() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  fromkeys(iterable, value=None, /) from builtins.type
 |      Create a new dictionary with keys from iterable and values set to value.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

## Chapter 4 - Organized Code

### 4.1 More on input part 1

In [ ]:
# input() function returns the input entered by the user as a string 
input_value= input("Enter some data")
print(x, type(x))

Enter some data123
123 <class 'str'>

In [ ]:
num= int(input("Enter any number"))
print(num, type(num))

Enter any number23
23 <class 'int'>

In [ ]:
# If the user don't enter an integer value
# Complex number is returned as the string but cannot be converted to int type -----> that's why it will give ERROR 
num= int(input("Enter any number "))

Enter any number 3+4j

ValueError: invalid literal for int() with base 10: '3+4j'

In [ ]:
# We also cannot enter the multiple values 
num= int(input("Enter any number "))

Enter any number 1, 2, 3

ValueError: invalid literal for int() with base 10: '1, 2, 3'

In [ ]:
# We can use eval() function 
for iter in range(5):
    any_type= eval(input("Enter the value of any type "))
    print(any_type, type(any_type))
    print('*'*70)

Enter the value of any type 3
3 <class 'int'>
**********************************************************************
Enter the value of any type 2.5
2.5 <class 'float'>
**********************************************************************
Enter the value of any type 3+4j
(3+4j) <class 'complex'>
**********************************************************************
Enter the value of any type [1, 2, 3]
[1, 2, 3] <class 'list'>
**********************************************************************
Enter the value of any type {1:'a', 2:'b', 3:'c'}
{1: 'a', 2: 'b', 3: 'c'} <class 'dict'>
**********************************************************************

### 4.2 More on i/p part 2

In [ ]:
# Input multiple values from the user 
input_1, input_2= input("Enter 1st input value "), input("Enter 2nd input value ")

Enter 1st input value 23
Enter 2nd input value 34

In [ ]:
# Using split() function - by default it seperates the inputs entered by the user with a space. 
input_1, input_2= input("Enter two input values ").split()
print(input_1)
print(input_2)

Enter two input values 123 345
123
345

In [ ]:
# We can seperate the inputs by the comma also 
input_1, input_2= input("Enter two input values ").split(',')
print(input_1)
print(input_2)

Enter two input values 123,54
123
54

In [ ]:
# Store the multiple inputs by the user in a list 
list_of_inputs= input("Enter some values ").split()
print(list_of_inputs, type(list_of_inputs))

Enter some values 123 a 12 3.5
['123', 'a', '12', '3.5'] <class 'list'>

In [ ]:
date_list= input("Enter date ").split('/')
# It will return a list of strings input by the user 
print(date_list)
for element in date_list:
    print(type(element))

Enter date 08/02/2020
['08', '02', '2020']
<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:
list_1= [1, 2, 3]
# Unpacking of a list 
a, b, c= list_1
print(a)
print(b)
print(c)

1
2
3

In [ ]:
# We want the date inputs entered by the user to be converted to int type
# Below code will return a list of strings 
date_list= input("Enter date ").split('/')
print(date_list)

# Convert each element in the list of strings to the int type
# And then unpack the list into three variables 
day, month, year= [int(ele) for ele in date_list]

# Print each of the three variables along with their types 
print(day, type(day))
print(month, type(month))
print(year, type(year))

Enter date 08/02/2020
['08', '02', '2020']
8 <class 'int'>
2 <class 'int'>
2020 <class 'int'>

In [ ]:
list_of_numbers = [1, 2, 3]
list_of_squares= [ele*ele for ele in list_of_numbers]
print(list_of_squares, type(list_of_squares))

[1, 4, 9] <class 'list'>

### 4.3 More on i/p part 3

In [ ]:
a,b,c= [eval(x) for x in input().split(',')]
print(type(a), type(b), type(c))

'abc',3.2,23
<class 'str'> <class 'float'> <class 'int'>

In [ ]:
# Store the multiple inputs from user in a list 
list_of_inputs= [eval(x) for x in input("Enter any number of values ").split(",")]
print(type(list_of_inputs))

Enter 3 values 'sid',3,5.4
<class 'list'>

In [ ]:
# Store the multiple inputs from the user in a list 
list_of_inputs= input("Enter three values ").split(",")
# Iterate through each element of the above list to evaluate the type of each element 
# Unpack the list into variables 
a, b, c= [eval(elmt) for elmt in list_of_inputs]
print(type(a), type(b), type(c))

Enter three values 'abc',3.2,11
<class 'str'> <class 'float'> <class 'int'>

In [ ]:
# Final Objective- Store the multiple inputs from the user in a tuple 
list_of_strings= input("Enter three values ").split(",")

# Iterate through each element of the above list to evaluate the type of each element 
revised_list= [eval(elmt) for elmt in list_of_strings]

# Convert the revised_list into the tuple 
tuple_from_list=tuple(revised_list)
# Print the type of tuple 
print(type(tuple_from_list))

# Convert the revised list into set 
set_from_list=set(revised_list)
# Print the type of set 
print(type(set_from_list))

Enter three values 'abc',3.4,12
<class 'tuple'>
<class 'set'>

In [ ]:
# Input the items of dictionary from a user 
d= dict(input().split('-') for _ in range(3))
print(d)

1-a
2-b
3-c
{'1': 'a', '2': 'b', '3': 'c'}

In [ ]:
d= {key:input("Enter the values of the keys ") for key in range(1,5)}
print(d)

Ajay
Ravi
Rahul
Vinod
{1: 'Ajay', 2: 'Ravi', 3: 'Rahul', 4: 'Vinod'}

In [ ]:
# Input both key and value from the user and store each item in a dictionary  
d1= {input("Key "):input("Value ") for item_iteration in range(3)}
print(d1)

Value Amit
Key 100
Value Rahul
Key 101
Value Ajay
Key 102
{'100': 'Amit', '101': 'Rahul', '102': 'Ajay'}

### 4.4 Function part 1

- Function is a block of code which we can reuse in our program 
- We need 3 things to create a function 
  1. Function definition
  2. Function body 
  3. Function call 
- We have 2 types of functions 
  1. Pre-defined functions 
  2. User defined functions

In [ ]:
# Function to add the 2 numbers 
# Creating function definition and function body 
def add():
    num1= int(input("Enter 1st number "))
    num2= int(input("Enter 2nd number "))
    sum= num1+num2
    print('Sum of {} and {} is {}'.format(num1, num2, sum))

# Calling the function 
add()

Enter 1st number 2
Enter 2nd number 3
Sum of 2 and 3 is 5

### 4.5 Function part 2 

Ways to define a function 

  1. Takes nothing return nothing (TNRN)
  2. Takes something return nothing (TSRN)
  3. Takes nothing return something (TNRS)
  4. Takes something return something (TSRS)

In [ ]:
# TAKES NOTHING RETURN NOTHING 
def add():
    num1= int(input("Enter 1st number "))
    num2= int(input("Enter 2nd number "))
    sum= num1+num2
    print('Sum of {} and {} is {}'.format(num1, num2, sum))

# Calling the function 
add()

Enter 1st number 2
Enter 2nd number 4
Sum of 2 and 4 is 6

In [ ]:
# TAKES SOMETHING RETURN NOTHING 

# Define the function name and code the function body 
def add(num1, num2):
    print("Sum of {} and {} is {}".format(num1, num2, num1+num2))

# Now time to call the function but we need to pass the arguments 
add(3, 4)

Sum of 3 and 4 is 7

In [ ]:
# TAKES NOTHING RETURN SOMETHING 

# Define the function name and create the function body 
def add():
    num1= int(input("Enter 1st number "))
    num2= int(input("Enter 2nd number "))
    sum= num1+num2
    return sum 

# Now time to call the function 
sum= add()
print("Sum of 2 numbers is:",sum)

Enter 1st number 3
Enter 2nd number 5
Sum of 2 numbers is: 8

In [ ]:
# TAKES SOMETHING RETURN SOMETHING 

def add(num1, num2):
    sum= num1+num2
    return sum

# Time to call our created function but don't forget to pass the arguments you defined while creating the add() function
sum= add(3,4)
print("Sum of 2 nos is:",sum)

Sum of 2 nos is: 7

### 4.6 Function part 3

When function returns nothing ie no return keyword, it actually returns nothing

In [ ]:
def func():
    print("Hello")
    
x=func()
print(x)
print(type(x))

Hello
None
<class 'NoneType'>

**Default Argument Rule**
  
- If we make an argument as default then we have to make all the arguments to the right of that default argument also as the  default.
- The arguments we pass while calling the function goes in the same order of the parameters defined while creating the function.

In [ ]:
# We make the argument as default by the equal to operator 
def add(a=0, b=0, c=0):
    s=a+b+c
    return s

# Here 10 will go in variable a while b and c are by default 0 
sum_1= add(10)
print(sum_1)

# Here 10 and 20 will go in the variable a and b while c is by default 0 
sum_2= add(10, 20)
print(sum_2)

# Here we pass all the three arguments which will go to a, b and c respectively 
sum_3= add(10, 20, 30)
print(sum_3)

10
30
60

### 4.7 Functions Part 4

**Keyword Argument**

**Rule of thumb**- All the arguments after keyword argument must be keyword arguments.

In [ ]:
def f1(a, b):
    print("a=",a,"b=",b)

f1(10, 20) # Positional Arguments 
f1(b=10, a=20) # Keyword Arguments are specified while we call the function

a= 10 b= 20
a= 20 b= 10

In [ ]:
# The above rule is satisfied by the below code 
f1(10, b=20)

a= 10 b= 20

In [ ]:
# The below code violates the above rule of keyword arguments 
f1(a=10, 20)

SyntaxError: positional argument follows keyword argument (<ipython-input-3-754623c0f504>, line 2)

In [ ]:
# The below code also gives error 
f1(10, a=20)

TypeError: f1() got multiple values for argument 'a'

In [ ]:
# The below code also gives error 
f1(a=10, a=20)

SyntaxError: keyword argument repeated (<ipython-input-5-9e03c459bdde>, line 2)

### 4.8 Functions part 5

In [ ]:
# Variable length argument 
# This is defined while creating the function 

# User can pass any number of elements which are sored in the tuple n
def avg(*n):
    sum=0
    for ele in n:
        sum+=ele
    average=sum/len(n)
    if len(n)!=0:
        return average 
    else:
        return "No elements"
    print(n, type(n))

# Call the function avg() where user can pass any number of arguments 
average= avg(10, 20, 30)
print("Average is",average)

Average is 20.0

In [ ]:
def cal_points(playername, *points):
    sum=0
    for point in points:
        sum+=point
    print("Total Points=",sum)

# Now we will look which cases while function call gives error and which will not

In [ ]:
cal_points("Ajay",10, 11, 23)

Total Points= 44

In [ ]:
cal_points(playername="Ajay",10,20,30)

SyntaxError: positional argument follows keyword argument (<ipython-input-17-bd684c52297d>, line 1)

In [ ]:
def cal_points(*points, playername):
    sum=0
    for point in points:
        sum+=point
    print("Total Points=",sum)

# Now we will look which cases while function call gives error and which will not

In [ ]:
# All these arguments will go into the tuple points 
cal_points(10,11,23,'Ajay')

TypeError: cal_points() missing 1 required keyword-only argument: 'playername'

In [ ]:
cal_points(10,11,23,playername='Ajay')

Total Points= 44

#### Variable length keyword argument

In [ ]:
# When at the time of function call we want to pass the variable number of arguments and also the keyword arguments 

# k will be a dictionary 
def f1(**k):
    print("Person Information")
    for key, value in k.items():
        print(key, "-", value)
f1(name='Sameer', age=22)
print('*'*70)
f1(name='Rahul', marks=87, age=23)
print('*'*70)
f1(name='Ajay', empid=125, salary=35000)

Person Information
name - Sameer
age - 22
**********************************************************************
Person Information
name - Rahul
marks - 87
age - 23
**********************************************************************
Person Information
name - Ajay
empid - 125
salary - 35000

### 4.9 Recursion 

- Function calling itsef is called recursion. 
- Solution of problem is defined with the help of the result of simpler version of the same problem, then the solution is   
  recursive. 
  
Recursion has 3 parts 
    
     1. Function Formation 
     2. Base Case (where we want to stop our function call)
     3. Recursive Case 
     
Advantages of Recursion 

     1. Easy formulation of code 
     2. Easy code readibility

In [ ]:
# Program to calculate the sum of n natural numbers without recursion 
def sum_of_nat(n):
    sum=0
    for i in range(1, n+1):
        sum+=i
    return sum

# Calling our function 
num= int(input("Enter the value of N "))
result= sum_of_nat(num)
print("Sum of {} natural numbers is {}".format(num, result))

Enter the value of N 6
Sum of 6 natural numbers is 21

In [ ]:
# Recursive Program to calculate the sum of n natural numbers
def sum(n):
    if n==1:
        return 1 
    else:
        return n+sum(n-1)

# Calling our function 
num= int(input("Enter the value of N "))
result= sum(num)
print("Sum of {} natural numbers is {}".format(num, result))

Enter the value of N 6
Sum of 6 natural numbers is 21

### 4.10 Lambda Functions 

- These are the anonymous functions without any name.

In [ ]:
# Lambda function to calculate the sum of 2 numbers 
# sum is the function name 
# num1 and num2 are the arguments 
# function will return the sum of 2 numbers 
sum= lambda num1,num2: num1+num2

# Call the lambda function same as the normal function
res= sum(10,20)
print("Sum of given 2 numbers is:",res)

Sum of given 2 numbers is: 30

In [ ]:
res= (lambda a,b:a+b) (10,20)
print("Sum is",res)

Sum is 30

In [ ]:
# Program to calculate the greater of 2 numbers 
print("Enter two numbers")
res= (lambda a,b:a if a>b else b) (int(input()), int(input()))
print("Greater number is",res)

Enter two numbers
12
13
Greater number is 13

#### Recursion in lambda expression

In [ ]:
# Factorial of a number without recursion 
def factorial(num):
    fact=1
    for i in range(num,1,-1):
        fact*=i
    return fact

# Call the function 
num= int(input("Enter the number whose factorial has to calculated "))
result=factorial(num)
print("Factorial of {} is {}".format(num,result))

Enter the number whose factorial has to calculated 10
Factorial of 10 is 3628800

In [ ]:
# Factorial of a number with recursion 
def factorial(num):
    if num==1:
        return 1
    else:
        return num*factorial(num-1)

# Call the function 
num= int(input("Enter the number whose factorial has to calculated "))
result=factorial(num)
print("Factorial of {} is {}".format(num,result))

Enter the number whose factorial has to calculated 10
Factorial of 10 is 3628800

In [ ]:
# Recursion in lambda expression 
fact= lambda num:1 if num==1 else num*fact(num-1)
n= int(input("Enter the number whose factorial has to calculated "))
res=fact(n)
print("Factorial of {} is {}".format(n,res))

Enter the number whose factorial has to calculated 10
Factorial of 10 is 3628800

### 4.11 Decorators

### 4.12 Exception Handing part 1 

There are two types of errors which can arise in a program 
     
     1. Syntax Errors 
     2. Runtime Errors -----> This is called Exception 
     
There is **Normal Flow** and **Exception Flow**

In [ ]:
# Below code will throw an error (exception at run time) as string cannot be added with an int type 
# This code will give TypeError ---> This is a type of Exception Class in Python 

num1= int(input("Enter first number "))
# If by mistake we forget to convert our string input to int type 
num2= input("Enter second number ")
print("Sum is ",num1+num2)

Enter first number 12
Enter second number 23

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
# Below code will throw an error (exception at runtime) as a number cannot be divided by 0
# This code will give ZeroDivisionError ---> This is a type of Exception Class in Python 

num1= int(input("Enter first number "))
# If by mistake the user entered 0 as the second number 
num2= int(input("Enter second number "))
print("Division is ",num1/num2)

Enter first number 22
Enter second number 0

ZeroDivisionError: division by zero

**Note** - If an error occur at run time then the python will automatically create and then raise the object of the corrosponding exception class. 

**Default Except Mechanism**- If python encounter any error in the code, then it will run DEM in the form of error message. 

**Note**- The program will end upon the execution of DEM ie no line after the error line would be executed. But what if these lines after the error are important that needs to be executed and we don't want our program to come to an end and systematically handle the situation so that user can understand the error situation and whole program in fully executed.

| Raise an exception | Handle an Exception |
| --- | --- |
| 1) Python   |  Default Exception Mechanism |
| 2) Python   |  Exception Mechanism by User        |
| 3) User     |  Default Exception Mechanism |
| 4) User     |  Exception Mechanism by User         |       

**2 Types of Exception**
   
    1. Pre-defined Exception 
    2. User Defined Exception 
  
**Keywords used in Exception Handling**

    1. try 
    2. except 
    3. finally
    4. raise

### 4.13 Exception handling part 2

In [ ]:
# Case 2 Python will raise the exception and user will handle this exception 

# If there is no exception raised by python then full try block will execute and will not enter except block 
# If there is exception then try block uptill error line will execute and the flow will enter to except block. 
# If DEM executes then no line after exception executes and program will end. 
# But if exception is handled by user then program will not end that is all the lines are executed. 

x= int(input("Enter 1st number "))
y= int(input("Enter 2nd number "))
try:
    z=x/y
    print("Division result", z)
except ZeroDivisionError:
    print("Invalid attempt of Division")
print("This is last line ")

Enter 1st number 12
Enter 2nd number 0
Invalid attempt of Division
This is last line

#### Some rules 

1. Include that code in try block in which exception can occur. 
2. We cannot create except block without the creation of try block. 
3. The name of the exception class in the except block should match with the type of exception raised. 
4. If no exception is raised in try block then except block is skipped. 
5. We can create multiple except blocks for one try block as different types of exception can occur in try block. 
6. If the raised exception do not match with any of the exept block class names then default except mechanism will execute and the program will end. 
7. If python encounters any exception in try block then it will immediately goes to except block that matches with the raised exception and other lines in the try block will not be executed. 
8. Finally block runs always and if the exception raised does not matches with any of the class names of the except block then DEM would be executed but before that finally block would be executed.

In [ ]:
# If no exception is raised then also finally block will be executed.  
# If exception is raised then also finally block will be executed. 
# We include that code in the finally block which we want to executed in all the cases whether the exception occurs or not. 

x= int(input("Enter 1st number "))
y= int(input("Enter 2nd number "))
try:
    z=x/y
    print("Division result", z)
except ZeroDivisionError:
    print("Invalid attempt of Division")
finally:
    print("Finally executing...")

Enter 1st number 12
Enter 2nd number 0
Invalid attempt of Division
Finally executing...

#### Some more rules 
9. Order of the creation of the blocks is as follows 

       try
        |
       except (0 or more)
        |
       finally (0 or 1) 
       
10. If there is try block then there must be atleast an except block or finally block. There cannot be a situation where no except or finally block exists with the try block. 
11. We can create multiple try blocks in one program and each try block must have atleast 1 except block or 1 finally block or we can have both except blocks and finally block in our code.
12. If the raised exception does not matches with the any of the class names of the except blocks then it will execute the except block which has no exception class name ie here no DEM execution takes place and program will not end.

In [ ]:
x= int(input("Enter 1st number "))
y= int(input("Enter 2nd number "))
try:
    z=x/y
    print("Division result", z)
except (ZeroDivisionError, TypeError, ValueError):
    print("Invalid attempt of Division")
except:
    print("Default Exception")
finally:
    print("Finally executing...")
print("This is the last line")

Enter 1st number 12
Enter 2nd number 0
Invalid attempt of Division
Finally executing...
This is the last line

13. Else will be executed only if no exception is raised in the try block

In [ ]:
# Some optimization to the above code 
try:
    x= int(input("Enter 1st number "))
    y= int(input("Enter 2nd number "))
    z=x/y
    print("Division result", z)
except ValueError:
    print("Input value should be of integer type")
except ZeroDivisionError:
    print("Invalid attempt of Division")
except:
    print("Default Exception")
else:
    print("No exception is raised in the try block ")
finally:
    print("Finally executing...")
print("This is the last line")

Enter 1st number 12
Enter 2nd number 2
Division result 6.0
No exception is raised in the try block
Finally executing...
This is the last line

## Chapter 5 - Object Oriented Programming in Python

### 5.1 OOP

1) <b>Procedural oriented way of Programming</b> - Use of functions to achieve any task

2) <b>Object Oriented way of Programming</b> - 

        Code is more organised and easy to maintain 
        
        Object is the collection of data and function 
        
Main Aspects of OOP 
   
     1. Classes and Objects 
     2. Inheritance 
     3. Polymorphism 
     4. Data Hiding

### 5.2 Classes and Objects Part 1

- Class is a keyword.  
- Class has some name. 
- Class encapsulates data and functions.  
- Creating class is creating type.  
- Class is a description of object (house created from map is object and map is class) 
- Class is blueprint of the object. 
- int, float, complex, str, tuple, list, set, dict are all built in classes. 
- When we write x=5, it means x is a reference variable which is referring to an object that contains the variable in which 5 is stored.

In [ ]:
x=5
# Calling the function 
# Returns the binary bits of the number 
bit_len= x.bit_length()
print(bit_len)

3

In [ ]:
# l is the object of the class list 
l= [1, 2, 3]
# Function available in the class list 
l.append(4)
print(l)

[1, 2, 3, 4]

Variable -----> Fields 

Function -----> Method 

Both are called Attributes 

Object is an instance of the Class. 

Instance= Object 

You can create any number of objects of some class, but you have to define class first.

### 5.3 Classes and Objects Part 2

In [ ]:
class Test: 
    i=10
    def f1():
        print("Hello")

# This is class object 
print(Test.i)
Test.f1()

# Below is the reference variable t1 pointing to the object of class test 
t1= Test()

# What happens during instantiation 
# We call the class object which creates the empty instance.

10
Hello

### 5.4 Classes and Objects Part 3 

- We can write a special function in our class __init__() 

- t1=ClassName() As we create the object of the class and if we have defined the init function inside this class, then it is called. 

- If no init function is defined inside the class then upon object creation, no function is called. 

- When we create the object then by default init function is called and it takes the object as its argument. 

- init function must contain atleast 1 argument.

In [ ]:
class Test: 
    i=10
    def __init__(self):
        print("init")
    def f1():
        print("hello")
        
t1= Test()
t2= Test()
t3= Test()

init
init
init

In [ ]:
class Test:
    def __init__(self):
        # These are instance/object variables 
        self.a=10
        self.b=20
        
t1= Test()
t2= Test()
t3= Test()

print(t1.a, t1.b)
print(t2.a, t2.b)
print(t3.a, t3.b)

10 20
10 20
10 20

**Note**: Both t1 and self are pointing to the same object and when we write self.a and self.b then we create a and b variables
inside the object at which t1 and self are pointing to.

In [ ]:
class Test:
    def __init__(self, x, y):
        self.a= x
        self.b= y
        
t1= Test(1,2)
t2= Test(3,4)
t3= Test(5,6)

print(t1.a, t1.b)
print(t2.a, t2.b)
print(t3.a, t3.b)

1 2
3 4
5 6

### 5.5 Classes and Objects Part 4

In [ ]:
# Class is the description of the object 
# Object is an instance of Class 
# Objects are created dynamically in python
# With dot operator we can access the members (variables and functions) of the class. 


class Student:
    def __init__(self,name,age):
        self.name=name
        self.age=age
        
    # This function cannot access instance variables 
    def f1():
        print("I cannot access instance variables")
    
    # This function can access instance variables
    def f2(self):
        print("I can access the instance variables")
        print(self.name)
        print(self.age)
        
# Creation of the objects of 2 students 
s1= Student("Sid",23)
s2= Student("Francis",32)

# Calling the f1 function 
Student.f1()
Student.f1()
print()

# Calling the f2 function 
s1.f2()
print()
s2.f2()

I cannot access instance variables
I cannot access instance variables

I can access the instance variables
Sid
23

I can access the instance variables
Francis
32

#### Difference between __init__() function and normal function 

    1) Implicit call                    Explicit Call 
    
    2) One time call                    Any number of time 
    
    3) To declare instance variable     For business logic 
    
    4) One argument is must             No such rule 
    
**Note** If we are making 2 objects of the same class then those 2 objects can have different number of instance variables.

### 5.6 Types of Variables - Instance Variables 

There are 4 types of variables 

    1) Instance Variables 
    2) Static Variables 
    3) Local Variables 
    4) Global Variables 
    
Instance variables store the information which is object specific

#### How to create the instance variables ? 

    1) __init__() function -----> MOSTLY USED 
    2) methods 
    3) outside the class

In [ ]:
class Account:
    def __init__(self, accno1, balance1):
        # Creation of instance variables
        self.accno1= accno1
        self.balance1= balance1
        
    def f1(self, accno2, balance2):
        # Creation of instance variables
        self.accno2= accno2
        self.balance2= balance2
        
# Creating an object of Account class 
a1=Account(100,5000)

# How many instance variables 
print(a1.__dict__)

# Calling the f1 function to add more instance variables 
a1.f1(200,7000)

print(a1.__dict__)
        
# Creating the instance variables outside the class 
a1.accno3=300
a1.balance3=1000

print(a1.__dict__)

{'accno1': 100, 'balance1': 5000}
{'accno1': 100, 'balance1': 5000, 'accno2': 200, 'balance2': 7000}
{'accno1': 100, 'balance1': 5000, 'accno2': 200, 'balance2': 7000, 'accno3': 300, 'balance3': 1000}

### 5.7 Static Variables 

- There is no static keyword in python 
- It is only class specific not object specific 
- Shared variable among all the objects

In [ ]:
class Test:
    # Static Variable 
    var=300
    
    def __init__(self):
        self.a=1 # Instance Variable 
        Test.b=2 # Static Variable 
        
    def f1(self): # Instance Member function 
        self.c= 3 # Instance variable 
        Test.d= 4 # Static Variable 
        
    @ staticmethod 
    def f2():
        Test.e= 5 # Static variable 
        
    def f3(m,n): # Can be static/instance method
        print(m,n)
        Test.f= 6 # Static Variable 
        
    @ classmethod 
    def f4(cls):
        cls.g= 7
        Test.h=8
        
# Creating the object of the class Test 
t1= Test()

# Calling the f1 function 
t1.f1()

# Calling f2 
t1.f2()

# This behaves as instance method 
t1.f3(100)
# This behaves as static method 
Test.f3(100,200)

Test.f4()

# We can also create the static variable outside the class body 
Test.i=9

# Print the number of instance varibles in the object t1 
print(t1.__dict__)

# Print the number of static variables of the Test Class 
print(Test.__dict__)

<__main__.Test object at 0x0000000E6AD3BFC8> 100
100 200
{'a': 1, 'c': 3}
{'__module__': '__main__', 'var': 300, '__init__': <function Test.__init__ at 0x0000000E6AD2CDC8>, 'f1': <function Test.f1 at 0x0000000E6AD2C708>, 'f2': <staticmethod object at 0x0000000E6AD3BD88>, 'f3': <function Test.f3 at 0x0000000E6AD2C678>, 'f4': <classmethod object at 0x0000000E6AD383C8>, '__dict__': <attribute '__dict__' of 'Test' objects>, '__weakref__': <attribute '__weakref__' of 'Test' objects>, '__doc__': None, 'b': 2, 'd': 4, 'e': 5, 'f': 6, 'g': 7, 'h': 8, 'i': 9}

### 5.8 Local and Global Variables 

- Local Variables have its scope only in function body.

In [ ]:
def f1():
    # This is a local variable 
    x=5
    print("Inside function",x)
    
# Calling the function 
f1()

# Cannot access the local variable outside the function body. 
# It will give error 
print(x)

Inside function 5

NameError: name 'x' is not defined

- **Global Variables** are defined outside the class as well as the function body. 

- These are accesible in any part of the program.

In [ ]:
y=10 # Global variable 
print("Outside function y=",y)
def f1():
    x=5 # Local variable 
    print("Inside function y=",y)
    print("Inside function x=",x)

# Calling the function 
f1()

print("Outside function x=",x)

Outside function y= 10
Inside function y= 10
Inside function x= 5

NameError: name 'x' is not defined

**NOTE** - If there is name conflict between the local and global variable and we try to access that variable in function body, then that variable is by default local variable.

In [ ]:
y=10 # Global variable 

def f1():
    # Name conflict 
    y=5
    print("Local y=",y)
    
# Now local variable is printed through function call 
f1()
    
# Here global variable is printed
print("Global y=",y)

Local y= 5
Global y= 10

#### Access global variable inside the function

In [ ]:
y=10 # Global variable 
print("Outside function y=",y)

def f1():
    # Accessing global y through global keyword 
    global y
    # There is no creation of any local variable
    y=5 
    print("Inside function y=",y)
    
f1()
print("New value of global y=",y)

Outside function y= 10
Inside function y= 5
New value of global y= 5

#### Creation of global variable inside the function

In [ ]:
# No global variable outside the function 

def f1():
    # It will create the global variable y 
    global y
    y=5 
    print("Inside function y=",y)
    
f1()

print("Outside function y=",y)

Inside function y= 5
Outside function y= 5

#### Access local and global variables with same name inside the function body.

In [ ]:
y=10 # Global variable 
print("Outside function y=",y)

def f1():
    y=5 # Local variable 
    print("Inside function local y=",y)
    print("Inside function global y=",globals()['y'])
    
f1()
print("Outside function y=",y)

Outside function y= 10
Inside function local y= 5
Inside function global y= 10
Outside function y= 10

### 5.9 Inheritance Part 1 

- **Encapsulation**- Single group of all properties and methods by forming a class.

- OOPs concept tends to achieve **reusability**. 

- Defining a new class with the help of an old class is called **Inheritance**

- **Person** is base class, super class, old class, parent class. 

- **Student** is derived class, sub class, new class, child class.

### 5.10 Inheritance Part 2 

- In python if we write a code that creates the object of child class then init function of child class is implicitly called and no init function of parent class is invoked by default unless we write the code for it. 

- **Overriding**- If the parent class and child class have the function with same name and arguments. 

- **Data hiding**- If the parent class and child class have the function with the same name but different arguments. 

- In python, if we want child class constructor to call the parent class constructor then its explicitly possible by writing the code anywhere in the body of the init function of child class. 

           1. Parent class name to call the init function.
           2. Super keyword.

In [ ]:
class Person:
    def __init__(self, n, a):
        self.name= n
        self.age= a
    def show_name(self):
        print("Name={}".format(self.name))
    def show_age(self):
        print("Age={}".format(self.age))
        
class Student(Person):
    def __init__(self, r):
        self.rollno= r
        # Code to call the init function of parent class 
        Person.__init__(self, "Rahul", 16)
        # Alternative code for the above code 
        #super().__init__("Rahul",16)
    def show_rollno(self):
        print("Rollno={}".format(self.rollno))
        
# Creating the object 
# This will create the 3 instance variables rollno, name and age 
# Now s1 is pointing to the object which contains these 3 variables. 
# Therefore we can access these variables through the object of the child (student) class. 

s1= Student(100)
s1.show_rollno()

# Function will be searched first in student class and if not found then go in parent class
s1.show_name()
s1.show_age()

Rollno=100
Name=Rahul
Age=16